*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}


body{
  background-color: rgb(8, 8, 8);
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* padding: 50vh; */
  min-height: 100vh;

}

.todoList{
  /* justify-content: center; */
  /* text-align: center; */
}

.addTodo{

  margin-top: 100px;
}

.input{
  border: 2px;
  border-radius: 10vh;
  height: 55px;
  width: 75vb;
  text-align: center;
  display: inline-block;
  background-color: rgb(103, 91, 80);
  color: rgb(253, 252, 252);
  font-size: larger;
  /* font-weight: 400; */
  
}

input::placeholder {
  font-weight: normal;
  color: rgb(207, 206, 206);
  /* opacity: 1; */
}

.addTask{
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.button{
  color: orange;
}

.saveUpdate{
  /* background-color: orange; */
  width: 7vh;
  text-decoration: solid;
  height: 30px;
  border-radius: 7vh;
}

.checkBox{
  border: 2px;
  margin-right: 20px;
  height: 25px;
    width: 25px;
    border-radius: 25px;
}

.taskList{
  display: flex;
  align-items: center;
  justify-content: space-between;
    background-color: #3a3836;
    padding-right: 20px;
    padding-left: 20px;
    height: 50px;
    border-radius: 40px;
    color: white;
}

.content{
  display:flex ;
  align-items: center;
}


.strike-out{
  text-decoration: line-through;
  font-size: 22px;
  
}

.content-text{
  font-size: 22px;
}



.btns{
  display: flex;
  gap: 20px;
}