*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
body{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 50vh; */
  min-height: 100vh;

}

.addTodo{
  display: inline-block;
  margin-top: 100px;
}

.input{
  border-radius: 10vh;
  height: 40px;
  width: 50vb;
  text-align: center;
  display: inline-block;
  background-color: rgb(96, 83, 83);
  font-size: large;
}

.saveUpdate{
  background-color: cadetblue;
  width: 7vh;
  text-decoration: solid;
  height: 30px;
  border-radius: 7vh;
}
